body {
    margin: 0;
    font-family: 'Consolas', monospace;
    background: radial-gradient(circle at top, #131722, #0b0d14);
    color: #d8dee9;
}

/* HEADER */

header {
    background: #0f141f;
    padding: 25px;
    text-align: center;
    border-bottom: 1px solid #1f2937;
    box-shadow: 0 0 20px rgba(0,255,170,0.1);
}

h1 {
    margin: 0;
    font-size: 28px;
    letter-spacing: 3px;
    color: #00ffae;
    text-shadow: 0 0 10px #00ffae;
}

.subtitle {
    font-size: 13px;
    color: #6b7280;
    margin-top: 5px;
}

/* CONTAINER */

.container {
    max-width: 1100px;
    margin: auto;
    padding: 50px 20px;
}

/* CARD */

.card {
    background: #111827;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #1f2937;
    margin-bottom: 25px;
    transition: 0.3s ease;
}

.card:hover {
    border-color: #00ffae;
    box-shadow: 0 0 15px rgba(0,255,170,0.3);
    transform: translateY(-3px);
}

.card h2 {
    margin-top: 0;
    color: #00ffae;
}

/* BUTTON */

button {
    background: linear-gradient(90deg, #00ffae, #00c896);
    border: none;
    padding: 12px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    color: #0b0d14;
    transition: 0.2s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #00ffae;
}

/* FOOTER */

footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #1f2937;
    font-size: 12px;
    color: #6b7280;
}